@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition:  0.3s all;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  min-width: 23%;
  width: 23%;
  height: 100%;

  left: 0px;
  top: 0px;

  position: relative;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;

  // NOTE: Will remove border eventually. rn its just there for reference
  border-right: 1px black solid;

  display: flex;
  flex-direction: column;
}

.page-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  
  height: 100vh;
}

.content-container {
  flex-grow: 1;
  flex: 1 1 auto;
  overflow: auto;
}
 
.button-box {
  font-size: 14px;
}

.bottom-box {
  opacity: 0;
  align-self: flex-end;
  width: 100%;
  margin-top: auto;
  transition-duration: 500ms !important;
}

.bottom-box-alt {
  opacity: 1;
  align-self: flex-end;
  width: 100%;
  margin-top: auto;
  transition-duration: 500ms !important;
}

.icons-box {
  width:100%;
  display: flex;
}

.icon {
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.iconTwo {
  margin-top: 1px;
  height: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.iconText {
  color: gray;
  transition-duration: 300ms;
}

.button {
  transition-duration: 300ms;
  color: gray;
}

.button-alt {
  color: black;
}

.button:hover {
  color:black;
}




.roboto {
  font-family: 'Roboto Mono', monospace;
}

.inconsolata {
  font-family: 'Inconsolata', monospace;
}

.primary-txt {
  font-size: 24px;
  margin-bottom: 20px;
}

.primary-txt-alt {
  font-size: 24px;
}

.secondary-txt {
  font-size: 13px;
  color: gray;
  line-height: 20px;
}

// 
// 
// 

.container {
  padding: 50px;
}

.title-image {
  width: 100%;
}

.image-container {
  display: flex;
  width:100%;
}

.image-container-cl {
  display: flex;
  width:100%;
  flex-direction: column;
}

.image-div {
  flex-grow: 1;
  width: 100%;
  padding: 5px;
  transition: all 500ms;
  margin-left: 0%;
}

@media only screen and (min-width: 700px) {
.image-div:hover {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.image-div-two:hover {
  width: 110% !important;
  margin-left: -5%;
}

.special-col {
  width: 130% !important;
}
}

.image-div-two {
  flex-grow: 1;
  width: 100%;
  padding: 5px;
  transition: all 700ms;
  margin-left: 0%;
}



.image {
  width: 100%;
  height: auto;
  transition: all 500ms;
}

// .image:hover {
//   width: 110% !important;
// }

.image-alt {
  width: 100%;
  height: 100%;
}

.container-one {
  padding-right:100px;
  max-height: 70vh;
}

.container-two {
  padding-left: 100px;
}

.mobile-text {
  display: none;
}

.mobile-text-o {
  display: block;
}

.header-mobile {
  display: none;
  z-index: 10;
}

.logo {
  height: 30px;
  width: 30x;
  transition: all 500ms;
}

#ttl {
  margin-bottom: 10px !important;
}



@media only screen and (max-width: 700px) {
  .header {
    display: none;
  }
  .mobile-text {
    display: block;
    margin-bottom: 20px;
  }

  .mobile-text-o {
    display: none;
  }

  .Home_title__T09hD {
    font-size: 3rem !important;
    margin-top: 0px !important;
    padding-top: 70px !important;
  }

  .image-container {
    flex-direction: column;
  }

  .container {
    padding: 10px !important;
  }

  .top-box {
    height:30px;
    display:flex;
  }

  .container-one {
    padding-right: 50px !important;
  }

  .container-two {
    padding-left: 50px !important;
  }

  .header-mobile {
    display: block;
    position: fixed;
    flex-direction: column;
    transition-duration: 500ms !important;
    width: 100vw;
    text-align: center;
    display: flex;
    padding: 20px;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid black;
  }

  .primary-txt-alt {
    align-self: flex-start;
    flex-grow: 2;
    text-align: left;
    display: flex;
  }

  .primary-logo {
    flex-grow: 1;
  }

  .button-box {
    margin-left: -500px;
    height: 50%;
    display: none;
    flex-direction: column;
    font-size: 30px !important;
    transition: all 500ms;
  }

  .button {
    flex-grow: 1;
    display: flex;
  }

  .button-alt {
    flex-grow: 1;
    display: flex;
  }

  .icons-box {
    margin-bottom: 40px;
  }

}